.App {
    text-align: center;
    user-select: none;
}

/** {*/
/*    background-color: #F9FAFC;*/
/*    color: black;*/
/*}*/

.test-results {
    position: absolute;
    left: 1320px;
    top: 70px;
    height: 92.5%;
    width: 1000px;
    font-size: 20px;
    overflow-y: scroll;
}

.auth-input {
    position: absolute;
    left: 30px;
    top: 940px;
    width: 250px;
    font-size: 20px
}

.env-input {
    position: absolute;
    left: 300px;
    top: 940px;
    width: 400px;
    height: 300px;
    font-size: 20px;
}

.documentation {
    position: absolute;
    left: 750px;
    top: 940px;
    width: 530px;
    height: 300px;
    font-size: 20px;
    overflow-y: scroll;
}

.title {
    margin-left: 10px
}

.test {
    font-size: 25pt;
}

